# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/

# migrations (кроме init)
**/migrations/
!**/migrations/__init__.py

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# dotenv
.env